*{
    margin: 0;
    padding: 0;
}

.fundo{
    height: 100vh;
    background: rgb(188,238,174);
    background: linear-gradient(41deg, rgba(188,238,174,1) 0%, rgba(148,187,233,1) 100%);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora{
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.8); */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;


    background: rgba( 255, 255, 255, 0.10 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.50 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 15px;
    border: 1px solid rgba( 255, 255, 255, 0.90 );


}

.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 3px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    color: #fff;
    border: none;

    border-radius: 10px;
    
}
.botao:hover{
    background-color: black;
}

#resultado{
    background-color:#fff;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}



#diferente{
    background-color: #53a8b6; 

}

#diferente:hover{
    background-color: rgb(37, 172, 82);

}